{% extends "layout.html" %}
{% set language_icons = {
"C": '<img class="language-icon" src="/static/images/icons/c.svg"/> C',
"C++": '<img class="language-icon" src="/static/images/icons/c++.svg"/> C++',
"Gin": '<img class="language-icon" src="/static/images/icons/go.svg"/> Gin',
"Java": '<img class="language-icon" src="/static/images/icons/java.svg"/> Java',
"Node.js": '<img class="language-icon" src="/static/images/icons/node.svg"/> Node.js',
"Express.js": '<img class="language-icon" src="/static/images/icons/node.svg"/> Express.js',
"Knex.js": '<img class="language-icon" src="/static/images/icons/node.svg"/> Knex.js',
"Swagger": '<img class="language-icon" src="/static/images/icons/node.svg"/> Swagger',
"AngularJS": '<img class="language-icon" src="/static/images/icons/angular.svg"/> AngularJS',
"Flask": '<img class="language-icon" src="/static/images/icons/python.svg"/> Flask',
"Bootstrap": '<img class="language-icon" src="/static/images/icons/bootstrap.svg"/> Bootstrap',
"Ruby": '<img class="language-icon" src="/static/images/icons/ruby.svg"/> Ruby',
"Go": '<img class="language-icon" src="/static/images/icons/go.svg"/> Go',
"Python": '<img class="language-icon" src="/static/images/icons/python.svg"/> Python',
"SQLAlchemy": '<img class="language-icon" src="/static/images/icons/python.svg"/> SQLAlchemy',
"C#": '<img class="language-icon" src="/static/images/icons/csharp.svg"/> C#',
".NET": '<img class="language-icon" src="/static/images/icons/dotnet.svg"/> .NET',
"Batch": '<img class="language-icon" src="/static/images/icons/windows.svg"/> Batch',
"PHP": '<img class="language-icon" src="/static/images/icons/php.svg"/> PHP',
"CodeIgniter": '<img class="language-icon" src="/static/images/icons/codeigniter.svg"/> CodeIgniter',
"Zend Framework": '<img class="language-icon" src="/static/images/icons/zend.svg"/> Zend Framework',
"MSSQL": '<img class="language-icon" src="/static/images/icons/windows.svg"/> SQL',
"JavaScript": '<img class="language-icon" src="/static/images/icons/js.svg"/> JavaScript',
"jQuery": '<img class="language-icon" src="/static/images/icons/jquery.svg"/> jQuery',
"jQuery UI": '<img class="language-icon" src="/static/images/icons/jquery.svg"/> jQuery UI',
"jQuery Mobile": '<img class="language-icon" src="/static/images/icons/jquery.svg"/> jQuery Mobile',
"Apache Cordova": '<img class="language-icon" src="/static/images/icons/apache.svg"/> Apache Cordova',
"Bash": '<img class="language-icon" src="/static/images/icons/linux.svg"/> Bash',
"CSS": '<img class="language-icon" src="/static/images/icons/css.svg"/> CSS',
"HTML": '<img class="language-icon" src="/static/images/icons/html.svg"/> HTML'
} %}
{% set tool_icons = {
"Fabric": '<img class="language-icon" src="/static/images/icons/python.svg"/> Fabric',
"Capistrano": '<img class="language-icon" src="/static/images/icons/ruby.svg"/> Capistrano',
"Docker": '<img class="language-icon" src="/static/images/icons/docker.svg"/> Docker',
"Supervisord": '<img class="language-icon" src="/static/images/icons/python.svg"/> Supervisord',
"PostgreSQL": '<img class="language-icon" src="/static/images/icons/postgres.svg"/> PostgreSQL',
"Red Hat": '<img class="language-icon" src="/static/images/icons/redhat.svg"/> Red Hat Enterprise Linux',
"openSUSE": '<img class="language-icon" src="/static/images/icons/linux.svg"/> openSUSE',
"CentOS": '<img class="language-icon" src="/static/images/icons/linux.svg"/> CentOS',
"Fedora": '<img class="language-icon" src="/static/images/icons/linux.svg"/> Fedora',
"Linux Mint": '<img class="language-icon" src="/static/images/icons/linux.svg"/> Linux Mint',
"Ubuntu Server": '<img class="language-icon" src="/static/images/icons/ubuntu.svg"/> Ubuntu Server',
"Bind9": '<img class="language-icon" src="/static/images/icons/linux.svg"/> Bind9',
"Windows Server": '<img class="language-icon" src="/static/images/icons/windows.svg"/> Windows Server',
"Azure": '<img class="language-icon" src="/static/images/icons/windows.svg"/> Azure',
"Microsoft SQL Server": '<img class="language-icon" src="/static/images/icons/windows.svg"/> Microsoft SQL Server',
"MySQL": '<img class="language-icon" src="/static/images/icons/mysql.svg"/> MySQL',
"IIS": '<img class="language-icon" src="/static/images/icons/windows.svg"/> IIS',
"Apache": '<img class="language-icon" src="/static/images/icons/apache.svg"/> Apache',
"Mesos": '<img class="language-icon" src="/static/images/icons/apache.svg"/> Mesos',
"ZooKeeper": '<img class="language-icon" src="/static/images/icons/apache.svg"/> ZooKeeper',
"Cassandra": '<img class="language-icon" src="/static/images/icons/apache.svg"/> Cassandra',
"Kafka": '<img class="language-icon" src="/static/images/icons/apache.svg"/> Kafka',
"Git": '<img class="language-icon" src="/static/images/icons/git.svg"/> Git',
"GitLab": '<img class="language-icon" src="/static/images/icons/gitlab.svg"/> GitLab',
"GitLab CI": '<img class="language-icon" src="/static/images/icons/gitlab.svg"/> GitLab CI',
"NGINX": '<img class="language-icon" src="/static/images/icons/nginx.svg"/> NGINX',
"Redis": '<img class="language-icon" src="/static/images/icons/redis.svg"/> Redis',
"Bitbucket": '<img class="language-icon" src="/static/images/icons/bitbucket.svg"/> Bitbucket',
"Stash": '<img class="language-icon" src="/static/images/icons/bitbucket.svg"/> Stash',
"Confluence": '<img class="language-icon" src="/static/images/icons/confluence.svg"/> Confluence',
"CoreOS": '<img class="language-icon" src="/static/images/icons/linux.svg"/> CoreOS',
"Storm": '<img class="language-icon" src="/static/images/icons/apache.svg"/> Storm',
"Android": '<img class="language-icon" src="/static/images/icons/android.svg"/> Android',
"MongoDB": '<img class="language-icon" src="/static/images/icons/mongodb.svg"/> MongoDB'
} %}
{%- block title -%}{{ employer }}{%- endblock -%}
{%- block description -%}{{ description }}{%- endblock -%}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h2>{{ employer }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Experience</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>{{ title }}</strong>
                <br/>
                <em>{{ dates }}</em>
            </p>

            <ul>
                {% for experience in experiences %}
                    <li>{{ experience }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if languages is defined and tools is defined %}
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Technologies</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h4>Languages/Frameworks/Libraries</h4>
                    <hr>
                    {% for language in languages %}
                        <p>{{ language|safe }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <h4>Infrastructure/Databases/Tools</h4>
                    <hr>
                    {% for tool in tools %}
                        <p>{{ tool|safe }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}